{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h2>{{note.title}}</h2>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{note.description|safe}}
            </p>
            <hr>
            {% if note.attachment %}
            <p class="mt-3">
                <b>Attachment:</b>
                <a href="{{ note.attachment.url }}" target="_blank">View / Download</a>
            </p>
            {% endif %}
        </div>
        <hr>
        <a class="btn btn-success" href="{% url 'export_note_pdf' note.id %}">
            Download as PDF
        </a>

        

    </div>

</section>

{% endblock content %}