{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        {%for note in notes%}
        <div class="col-md-3">
            <a href="{% url 'note_detail' note.id %}">
                <div class="card">
                    <div class="card-header">{{note.title | upper}}</div>
                    <div class="card-body">{{note.description|slice:"0:50"}}</div>
                    <div class="card-footer mt-auto">
                        <form method="post" action="{% url 'delete_note' note.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link p-0">
                                <i class="fa fa-trash fa-1x btn text-danger">Delete</i>
                            </button>
                            <a href="{% url 'update_note' note.id %}" class="btn btn-link p-0">
                                <i class="fa fa-edit fa-1x btn text-primary">Update</i>
                            </a>
                        </form>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br><br>

    </div>
</div>
<br><br>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>
        {{ form.media }}
        {{form |crispy}}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>

{% endblock content %}